@import "../../themes/generated/variables.base.scss";

.user-info {
  display: flex;
  align-items: center;
  cursor: default;
  padding: 12px;
  border-bottom: 1px solid rgb(219, 219, 219);

  .user-email {
    font-size: 14px;
    color: var(--base-text-color);
  }

  .image-container {
    overflow: hidden;
    border-radius: 50%;
    height: 28px;
    width: 28px;
    margin-right: 12px;
    border: 1px solid rgb(219, 219, 219);

    .user-image {
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-color: #fff;
      background-size: cover;
    }
  }
}